/*For roulette page*/

#roulettesection {
	height:600px;
}

.genericextras {
	color:blue;
}

.missionextras {
	color:red;
}

#chosenmission {
	font-size:18px;
	font-weight: bold;
	color:#cc0000;
}

#popoutnappi {
	float:right;
}