body {
	margin:auto;
	border:1px black solid;
	width:900px;
	margin-top:30px;
	margin-bottom:30px;
}

* {
	font-family:sans-serif;
}

header {
	border:1px black solid;
	padding-left:15px;
	background-color:black;
	color:white;
	font-family:sans-serif;
	text-align: center;
}

header img {
	height:80px;
	margin: 10px 0 10px 0;
}

nav {
	width:100px;
	line-height:40px;
	float:left;
	padding-left:10px;
	padding-top:20px;
}

section {
	float:left;
	border-left:1px black solid;
	padding-left:20px;
	padding-right:25px;
	padding-top:10px;
	padding-bottom:50px;
	width:725px;
}

footer {
	clear:both;
	border:1px black solid;
	padding-left:15px;
	background-color:black;
	color:white;
	font-family:sans-serif;
	text-align:center;
}

nav a {
	text-decoration:none;
	font-size:16px;
	color:#cc0000;
}

footer a {
	color:#0066cc;
}

#changelog {
	display: none;
}
section h3 {
	color:#cc0000;
}

#changelog {
	list-style-type:none;
}

.versionnumber {
	font-weight:bold;
	margin-top: 12px;
}

.linkki {
	color:blue;
}

#info {
	color: green;
	padding-top: 15px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
	top: -5px;
    left: 105%; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}