* {
	font-family:sans-serif;
}

body {
	background-color:black;
}

p {
	color:white;
}

#chosenmission {
	font-size:18px;
	font-weight: bold;
	color:#cc0000;
}

#themeswitch {
	position:absolute;
	bottom:5px;
	right:5px;
	font-size:10px;
}

#resultsection {
	line-height:1.2;
	border: none;
	padding: 0;
	margin: 0;
}

#resultsection p {
	margin-top: 1px;
	margin-bottom: 1px;
}

#filters {
	color:white;
	border: none;
	padding-left: 0;
	padding-top: 0;
	display:none;
}

#info {
	color: green;
	padding-top: 15px;
}

.bluetext {
	margin: 0;
	padding: 0;
	color: #00ccff;
	display: inline;
}

.redtext {
	margin: 0;
	padding: 0;
	color: red;
	display: inline;
}

.extras {
	margin: 0;
	padding: 0;
	color: #00ccff;
}

.nappi {
	display: inline;
}